<div class="more_bears">
  <h3>More Bears</h3>

  <div *ngIf="bears.length > 0; else noBears">
    <div class="bear" *ngFor="let bear of bears">
      <h4 class="bear-name">{{ bear.name }} ({{ bear.binomial }})</h4>
      <img
        [src]="
          bear.image || 'https://via.placeholder.com/200x200.png?text=No+Image'
        "
        [alt]="
          bear.image
            ? 'Image of ' + bear.name
            : 'No image available for ' + bear.name
        "
        style="width: 200px; height: auto"
      />
      <p><strong>Range:</strong> {{ bear.range }}</p>
    </div>
  </div>

  <ng-template #noBears>
    <p *ngIf="!errorMessage">No bear data available at the moment.</p>
  </ng-template>

  <p class="error" *ngIf="errorMessage" style="color: red">
    {{ errorMessage }}
  </p>
</div>
