p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Comments Section */
.comments {
  background-color: #def;
  padding: 10px;

  h3 {
    font-size: 2rem;
  }

  .show-hide {
    cursor: pointer;
    text-align: center;
    width: 150px;
    background: #333;
    font-size: 1.6rem;
    line-height: 32px;
    border: none;
    color: white;

    &:hover {
      background-color: #435c52;
    }
  }

  .comment-form {
    margin-bottom: 3rem;
    max-width: 400px;
    margin: 0 auto;

    .flex-pair {
      display: flex;
      padding: 0 3rem 1rem;
    }

    label {
      align-self: center;
      flex: 2;
      text-align: right;
      font-size: 1.6rem;
      line-height: 32px;
    }

    input {
      margin-left: 1rem;
      flex: 6;
      font-size: 1.6rem;
      line-height: 32px;

      &[type="submit"] {
        width: 30%;
        display: block;
        margin: 0 auto;
        background: #333;
        border: 0;
        color: white;
        font-weight: normal;
        font-size: 1.3rem;

        &:hover {
          background-color: #435c52; /* Ensure hover styles are applied */
        }
      }
    }
  }

  .comment-container {
    margin-top: 0;

    li {
      list-style-type: none;
      display: flex;

      p:nth-child(1) {
        flex: 1;
        font-weight: bold;
      }

      p:nth-child(2) {
        flex: 5;
      }
    }
  }
}

.flex-pair {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-left: -100px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.error {
  color: red;
  text-align: center; /* Centers text horizontally */
  margin-top: 1rem; /* Adds space above the error */
}
